html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}
h2 {
    font-size: 22px;
    line-height: 1.4em;
}
p {
    font-size: 12px;
}
.titrescitation {
    /*ligne texte titre et citation*/
    width: 100%;
    font-size: 30px;
    font-weight: normal;
    color: lightgray;
}
a:focus, button:focus{
    /*focus*/
    border-top: 3px solid red;
    border-bottom: 3px solid black;
}
input:focus, textarea:focus{
    border-bottom: 5px solid red;
}
a,
button {
    transition: all 0.3s ease-in-out;
    outline: none !important;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.bg-dots-bg {
    background-image: url("img/dots-bg-min.png"); /*2e partie du header ??????????????????????????????????????????????????????*/
}

/*images de fond*/
.img-banniere {
    background-image: url("img/la-chouette-agence-banniere-min.jpg");
}
.bg-presentation {
    background-image: url("img/image-de-presentation-min.jpg");
}
.img-fond {
    background-attachment: fixed;
}
/*texture*/
.texture-paper1::before{
    background:url(img/texture-paper-min.png);
    background-size: 280px 280px;
    content: "";
    background-size: 2px 2px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #575757 !important;
}
.tc-white {
    /*h1 h2 et certains p*/
    color: #fff !important;
}
.bloc-lg {
    padding: 100px 50px;
}

/*header*/
.banniere {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.logo-chouette {
    height: 40px;
    margin-bottom: 28px;
    font-weight: normal;
}
.nav > li {
    /*accueil et contact*/
    float: left;
    margin-top: 4px;
    font-size: 16px;
    margin-right: 20px;
}
.block-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 100px;
    margin-bottom: 30px;
}
h1 {
    font-size: 32px;
    margin: 0 5px 5px 0;
    z-index: 1;
}
.bouton-contact {
    width: 140px;
    margin-top: 22px;
    border-radius: 40px;
    background: #c25523;
    color: #ffffff !important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
    z-index: 1;
}
.bouton-contact:hover {
    background: #c27956 !important;
    color: #ffffff !important;
}
/*section 1*/
.section_one {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2title1 {
    width: 765px;
    margin-top: 85px;
    font-weight: normal;
}
.presentation {
    width: 100%;
    box-shadow: 0px 0px 0px #000000;
    margin-top: 50px;
}
.list-article{
    display: flex;
    justify-content: center;
}
.article1{
    width: 30%;
    align-items: center;
    justify-content: center;
}
.icons {
    margin-bottom: 14px;
    margin-top: 24px;
    color: #364577 !important;
    border-color: #364577 !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 60px !important;
}
h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333 !important;
}
.mg-md {
    /*titre icones*/
    margin-top: 10px;
    margin-bottom: 20px;
}
.text-presentation {
    color: #575757;
    margin: auto;
    width: 280px;
}
.citation {
    margin-top: 85px;
    width: 800px;
    font-weight: normal;
    padding-left: 0;
}
.auteur {
    width: 800px;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 85px;
}
/*section 2*/
.section_two {
    display: flex;
}
.explication {
    max-width: 600px;
    margin: auto;
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px 40px 40px 40px;
}
.texte-explication{
    color:#292929FF!important;
}
.contact-equipe {
    /*"contactez notre équipe*/
    font-size: 12px;
    font-weight: 900;
    text-decoration: underline !important;
    color: white !important;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/*section 3*/
.h2s3 {
    width: 620px;
    font-weight: normal;
    font-size: 32px;
    background-image: url("img/lines-h2-bg.png");
    box-shadow: 1px 1px 2px lightgray;
    margin: auto;
    margin-bottom: 90px;
}
.port-1 {
    margin-top: 90px;
    width: 800px;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
}
.article {
    width: 350px;
    margin-right: 40px;
}
.img-portfolio {
    width: 350px;
}
.bg-lines-h2-bg {
    /*image de fond*/
    background-image: url("img/lines-h2-bg.png");
}
.bg-repeat {
    /*image de fond*/
    background: repeat;
}
a[data-lightbox] {
    /*lien sur images*/
    position: relative;
    display: block;
    text-align: center;
}
a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}
/*section 4*/
.section4-h2 {
    margin-bottom: 0;
}
.equipe {
    font-size: 22px;
    margin-top: 0;
}
.btn-atomic-tangerine {
    /*les 2 boutons "contact"*/
    background: #f3976c;
    color: #ffffff !important;
}
.btn-atomic-tangerine:hover {
    background: #c27956 !important;
    color: #ffffff !important;
}
/*footer*/
footer{
    background-color: #C25523!important;
}
.titlefooter {
    font-size: 12px;
    font-weight: normal;
    margin-top: 30px;
    color: white !important;
}
.block-social {
    margin-top: 20px;
    margin-bottom: 60px;
}
.block-social ul{
    display: flex;
    justify-content: center;
}
.social {
    /*lien réseaux sociaux*/
    font-size: 30px !important;
    margin: auto;
    color: #DFDFDFFF!important;
    width: 130px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.social:hover {
    color: white !important;
}
h4 {
    color: #fff !important;
    font-size: 15px;
    font-weight: normal;
}
.block-liens {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
}
.footer-liens{
    width: 35%;
    margin: 0;
}
.footer-liens li {
    list-style-type: disc !important;
    color:#DFDFDFFF!important;
    font-size: 14px;
    margin-left: 35px;
}
.footer-liens a{
    color: #000000!important;
}

/*mobile*/
/*header*/
@media (max-width: 767px) {
    .logo-chouette {
        margin-left: 10px;
        width: 70%;
        height: auto;
    }
    h1{
        width: 80%;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .header-titre{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    /*section 1*/
    .section_one{
        padding-top: 0px;
    }
    .h2title1{
        width: 100%;
        margin-bottom: 30px;
    }
    .list-article{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .article1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .presentation,.citation, .auteur{
        width: 100%;
        margin: 0px;
    }
    .citation{
        margin-top: 30px;
        padding-left: 20px;
    }
    .auteur{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    /*section 3*/
    .section_three{
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .h2s3{
        width: 90%;
        margin-bottom: 40px;
    }
    .port-1{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    .article{
        width: 100%;
        margin-bottom: 10px;
    }  
    /*section 4*/
    .section_four{
        padding: 25px;
        padding-bottom: 50px;
    }
    .section4-h2{
        margin-top: 30px;
    }
    /*footer*/
    .block-social ul{
        flex-direction: column;
    }
    .block-liens{
        flex-direction: column;
    }
}
    /*tablette*/
@media (min-width: 768px) and (max-width: 1024px) {
    /*header*/
    .banniere{
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    /*section 1*/
    .article1{
        width: 30%;
        margin: auto;
    }
    .text-presentation{
        width: 100%;
    }
    .citation, .auteur{
        width: 100%;
    }
    /*section 3*/
    .section_three{
        width: 100%;
        padding: 0;
    }
    .h2s3{
        margin-top: 40px;
    }
    .port-1{
        padding-left: 60px;
    }
    .article{
        width: 40%;
    }
    /*footer*/
    .block-liens{
        width: 100%;
    }
}


/*page 2*/
/*ordinateur*/
/*header*/
.banniere2{
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.logo-chouette2{
    margin-top: 35px;
}
.section_one2{
    display: flex;
    flex-direction: column;width: 100%;
    background-color: #C25523;
}
.page-text-header{
    color: #fff!important;
}
.formulaire{
    display: flex;
    flex-direction: column;
}
form{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 60px;
}
.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
label{
    white-space: nowrap;
    margin-right: 5px;
}
.barre{
    max-width: 220px;
}
.barre, .barre-texte{
    border-radius: 0;
}
.barre-texte{
    flex-direction: column;
    align-items: flex-start;
}
.envoyer{
    width: 160px;
    border-radius: 0;
    margin-top: 35px;
    border: 2px solid black;
    font-weight: bold;
    color: #fff;
    background-color: #C25523;
}
.coordonnées{
    margin-left: 60px;
    margin-bottom: 140px;
}
.footer2{
    padding-top: 30px;
}
.footer-titre{
    font-size: 12px;
    font-weight: normal;
    color: #fff!important;
    margin-bottom: 20px;
}
.social2 ul{
    border: 1px solid white;
    margin: 0;
    padding: 0;
}
@media (max-width: 767px) {
    .banniere{
        flex-direction: row;
    }
    .banniere2{
        margin: 0px;
        padding-right: 10px;
    }
    .logo-chouette2{
        margin-top: 30px;
        width: 180px;
        height: 35px;
    }
    .page-text-header{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    form{
        padding-left: 0px;
    }
    .barre-texte{
        width: 100%;
    }
    .barre-texte2{
        flex-direction: column;
        align-items: flex-start;
    }
    .label_modif{
        width: 100%;
        white-space: normal!important;
    }
    .coordonnées{
        margin-left: 0px;
    }
    .social2{
        
        margin: 0;
        padding: 0;
    }
}





